<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="card">
                <div class="card-header text-md-center">Reset Password</div>

                <div class="card-body">

                    <form #f="ngForm" name="form" method="POST">
                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">EMAIL</label>

                            <div class="col-md-6">
                            <input id="email" class="form-control" type="email" name="email" value="Email" ngModel #email="ngModel" required autocomplete="email">
                                <div class="alert alert-danger" role="alert" 
                                *ngIf="email.touched && email.invalid && email.errors?.required">
                                    <span style="color: red">Email is required</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-8 offset-md-4">
                                <button type="submit" (click)="checkUser(f.value.email)" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                
                <div class="alert alert-success" *ngIf="emailCheck">
                    <span style="color: green">A new password has been sent to your registered email ID</span>
                </div>
                <div class="alert alert-danger" *ngIf="!emailCheck && sendPress">
                    <span style="color: red">Such a user does not exist</span>
                </div>

                </div>

            </div>
        </div>
    </div>
</div>